DATABASE_URL=postgres://postgres:postgres@localhost:5432/repoflow_dev
STELLAR_RPC_URL=https://rpc-futurenet.stellar.org
REPOFLOW_CONTRACT_ID=CYOURCONTRACTADDRESSHERE
GITHUB_CLIENT_ID=your_github_oauth_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_client_secret
GITHUB_CALLBACK_URL=http://localhost:3001/auth/github/callback
HMAC_SECRET=your_random_32_char_secret_here
PORT=3001
RUST_LOG=info,repoflow_indexer=debug
DATABASE_POOL_SIZE=10
RUST_BACKTRACE=1
